<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Test">
<!--        Groups that should only by run. Groups are specified in test classes next to @Test annotation-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name = "group_1"></include>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name = "Onet.Tests.CreateAccountTests">
<!--                    <methods>-->
<!--                        <include name="createFemaleAccount"></include>-->
<!--                    </methods>-->
            </class>
        </classes>
    </test>
</suite>

